In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("../database/merged_credit_data.xlsx")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17085 entries, 0 to 17084
Data columns (total 41 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   №                                          17085 non-null  int64
 1   Код                                        17085 non-null  object
 2   Продукт                                    17085 non-null  object
 3   Номер контракта                            17085 non-null  object
 4   Нач.дата                                   17085 non-null  datetime64[ns]
 5   Кон.дата                                   17085 non-null  datetime64[ns]
 6   Сумма                                      17085 non-null  int64
 7   % ставка                                   17085 non-null  float64
 8   Наименование назначения                    17085 non-null  object
 9   Дата классификации                         17085 non-null  datetime64[ns]
 10  К оплате                                   17085 non-null  int64
 11  Просроченные                               17085 non-null  float64
 12  Списанные на 91501                         17085 non-null  int64
 13  Срок не наступил                           17085 non-null  float64
 14  Итого                                      17085 non-null  float64
 15  Срок погаш. не наступил                    17085 non-null  float64
 16  На 12505 [Не просрочен]                    17085 non-null  float64
 17  На 12505 [Просрочен]                       17085 non-null  float64
 18  Реструктуризированный                      17085 non-null  int64
 19  В суде                                     17085 non-null  float64
 20  Итого.1                                    17085 non-null  float64
 21  Пеня                                       17085 non-null  int64
 22  Автоматический                             17085 non-null  float64
 23  Ручной                                     17085 non-null  int64
 24  Дата последнего перевода на просрочку      0 non-null      float64
 25  Дата последнего погашения основного долга  721 non-null    datetime64[ns]
 26  Примечание в клиенте                       2710 non-null   object
 27  Примечание в кредите                       1975 non-null   object
 28  Кредитный сотрудник                        17085 non-null  object
 29  Название филиала                           17085 non-null  object
 30  Наименование типа залога                   17077 non-null  object
 31  Сумма залога                               17077 non-null  float64
 32  Остаточная сумма залога на балансе         17078 non-null  float64
 33  client_id                                  17085 non-null  int64
 34  credit_history_count                       17085 non-null  int64
 35  Кол-во просроченных дней                   5291 non-null   float64
 36  target                                     17085 non-null  int64
 37  Возраст                                    1980 non-null   float64
 38  Пол                                        1980 non-null   object
 39  Образование                                1974 non-null   object
 40  Место работы                               1970 non-null   object
dtypes: datetime64[ns](4), float64(15), int64(10), object(12)
memory usage: 5.3+ MB

In [4]:
df.isna()

,№,Код,Продукт,Номер контракта,Нач.дата,Кон.дата,Сумма,% ставка,Наименование назначения,Дата классификации,...,Сумма залога,Остаточная сумма залога на балансе,client_id,credit_history_count,Кол-во просроченных дней,target,Возраст,Пол,Образование,Место работы
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17080,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
17081,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
17082,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,True,True
17083,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,True,True
17084,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True

In [5]:
#for target 0 fill Nan in range 0-60
df.loc[(df['target'] == 0) & (df['Кол-во просроченных дней'].isna()), 'Кол-во просроченных дней'] = np.random.randint(0, 61, 
                                                                 df[(df['target'] == 0) & (df['Кол-во просроченных дней'].isna())].shape[0])

In [7]:
df["Кол-во просроченных дней"].isna()

0        False
1        False
2        False
3        False
4        False
         ...
17080    False
17081    False
17082    False
17083    False
17084    False
Name: Кол-во просроченных дней, Length: 17085, dtype: bool

In [8]:
#for target = 1, fill Nan in range 60+
df.loc[(df['target'] == 1) & (df['Кол-во просроченных дней'].isna()), 'Кол-во просроченных дней'] = np.random.randint(61, 120, 
                                                                 df[(df['target'] == 1) & (df['Кол-во просроченных дней'].isna())].shape[0])

In [9]:
df.isna()

,№,Код,Продукт,Номер контракта,Нач.дата,Кон.дата,Сумма,% ставка,Наименование назначения,Дата классификации,...,Сумма залога,Остаточная сумма залога на балансе,client_id,credit_history_count,Кол-во просроченных дней,target,Возраст,Пол,Образование,Место работы
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17080,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17081,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17082,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
17083,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True
17084,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,True,True,True

In [17]:
df[["Возраст", "Пол", "Образование", "Место работы"]].value_counts()

Возраст  Пол  Образование  Место работы
42.0     М    Среднее      хусусий амалиёт     30
33.0     М    Среднее      хусусий амалиёт     23
55.0     Ж    Среднее      хусусий амалиёт     21
65.0     Ж    Среднее      хусусий амалиёт     20
37.0     М    Среднее      хусусий амалиёт     19
                                               ..
42.0     М    Среднее      хусусий амлиёт       1
                           Хусусй амалиёт       1
                           xususiy amalyot      1
                           xususiy amaliyot     1
83.0     Ж    Среднее      хусусий амалиёт      1
Length: 624, dtype: int64

In [18]:
df[["Место работы"]].value_counts()

Место работы
хусусий амалиёт                             998
Хусусий амалиёт                             478
Xususiy amaliyot                            130
Хусусий амалиёт                              37
хусусий амалиёт                              31
                                           ...
Учкуприк тумани 14-МТМ                        1
Учкуприк тумани                               1
ИИБ куриклаш                                  1
Узбекистон тумани 17-урта таълим мактаби      1
хууссий амалиёт                               1
Length: 128, dtype: int64

In [19]:
def add_random_values(data):
    professions = ['дехкон', 'тикувчи', 'тадбиркор', 'уста', 'шофер-таксист']
    data['occupation'] = np.random.choice(professions, size=len(data))

    marital_status = ['женат', 'не женат', 'разведен']
    data['marital_status'] = np.random.choice(marital_status, size=len(data))
    
    data['Возраст'] = np.random.randint(20, 65, size=len(data))

    genders = ['м', 'ж']
    data['Пол'] = np.random.choice(genders, size=len(data))

    education = ['Высшее', 'Среднее']
    data['Образование'] = np.random.choice(education, size=len(data))


    return data

In [20]:
df = add_random_values(df)

In [21]:
df

,№,Код,Продукт,Номер контракта,Нач.дата,Кон.дата,Сумма,% ставка,Наименование назначения,Дата классификации,...,client_id,credit_history_count,Кол-во просроченных дней,target,Возраст,Пол,Образование,Место работы,occupation,marital_status
0,1,Кр-99017050-1,008 - Сармоя (Узок муддатли),257/2018,2018-02-05,2020-02-05,17000000,57.6,"Микрозаймы, выданные физическим лицам на личны...",2018-02-05,...,99017050,1,7.0,0,50,ж,Среднее,NaN,уста,разведен
1,2,Кр-99017094-1,008 - Сармоя (Узок муддатли),282/2018,2018-02-12,2020-02-12,17200000,57.6,"Микрозаймы, выданные физическим лицам на личны...",2018-02-12,...,99017094,1,29.0,0,43,ж,Высшее,NaN,шофер-таксист,не женат
2,3,Кр-99017099-1,008 - Сармоя (Узок муддатли),356/2018,2018-02-16,2020-02-14,17200000,57.6,"Микрозаймы, выданные физическим лицам на личны...",2018-02-13,...,99017099,1,46.0,0,39,м,Среднее,NaN,уста,не женат
3,4,Кр-99017149-1,008 - Сармоя (Узок муддатли),465/2018,2018-02-20,2020-02-20,17200000,57.6,"Микрозаймы, выданные физическим лицам на личны...",2018-02-16,...,99017149,1,4.0,0,50,ж,Среднее,NaN,тикувчи,разведен
4,5,Кр-99017376-1,008 - Сармоя (Узок муддатли),547/2018,2018-02-26,2020-02-17,10000000,57.6,"Микрозаймы, выданные физическим лицам на личны...",2018-02-26,...,99017376,1,42.0,0,54,м,Высшее,NaN,уста,не женат
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17080,5271,Кр-99037387-1,008 - Сармоя (Узок муддатли),F3-163/25,2022-08-11,2024-08-09,42000000,57.6,"Микрозаймы, выданные физическим лицам на личны...",2022-08-11,...,99037387,1,36.0,0,54,ж,Среднее,Хусусий амалиёт,шофер-таксист,не женат
17081,5272,Кр-99037466-1,008 - Сармоя (Узок муддатли),F2-418/13,2022-08-16,2024-08-16,20000000,57.6,"Микрозаймы, выданные физическим лицам на личны...",2022-08-16,...,99037466,1,10.0,0,48,ж,Высшее,Xususiy amaliyot,дехкон,женат
17082,5273,Кр-99037505-1,008 - Сармоя (Узок муддатли),F2-422/4,2022-08-18,2024-08-16,35000000,57.6,"Микрозаймы, выданные физическим лицам на личны...",2022-08-18,...,99037505,1,59.0,0,22,ж,Высшее,NaN,уста,разведен
17083,5274,Кр-99031373-2,008 - Сармоя (Узок муддатли),F1-572/13,2022-09-16,2024-09-16,30000000,57.6,"Микрозаймы, выданные физическим лицам на личны...",2022-09-16,...,99031373,2,20.0,0,59,м,Высшее,NaN,дехкон,не женат
17084,5275,Кр-99038016-1,008 - Сармоя (Узок муддатли),F3-235/13,2022-09-21,2024-03-11,23000000,57.6,"Микрозаймы, выданные физическим лицам на личны...",2023-06-29,...,99038016,1,21.0,0,32,ж,Среднее,NaN,тадбиркор,женат

In [22]:
df.isna()

,№,Код,Продукт,Номер контракта,Нач.дата,Кон.дата,Сумма,% ставка,Наименование назначения,Дата классификации,...,client_id,credit_history_count,Кол-во просроченных дней,target,Возраст,Пол,Образование,Место работы,occupation,marital_status
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17080,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17081,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17082,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
17083,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
17084,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [25]:
df.columns

Index(['№', 'Код', 'Продукт', 'Номер контракта', 'Нач.дата', 'Кон.дата',
       'Сумма', '% ставка', 'Наименование назначения', 'Дата классификации',
       'К оплате', 'Просроченные', 'Списанные на 91501', 'Срок не наступил',
       'Итого', 'Срок погаш. не наступил', 'На 12505 [Не просрочен]',
       'На 12505 [Просрочен]', 'Реструктуризированный', 'В суде', 'Итого.1',
       'Пеня', 'Автоматический', 'Ручной',
       'Дата последнего перевода на просрочку',
       'Дата последнего погашения основного долга', 'Примечание в клиенте',
       'Примечание в кредите', 'Кредитный сотрудник', 'Название филиала',
       'Наименование типа залога', 'Сумма залога',
       'Остаточная сумма залога на балансе', 'client_id',
       'credit_history_count', 'Кол-во просроченных дней', 'target', 'Возраст',
       'Пол', 'Образование', 'Место работы', 'occupation', 'marital_status'],
      dtype='object')

In [27]:
df['Наименование типа залога'].value_counts()

Транспортные средства,                                                                                                                                                      6383
Ювелирные изделия,                                                                                                                                                          3729
Поручительство третьих лиц,                                                                                                                                                 3608
Поручительство третьих лиц,  Поручительство третьих лиц,                                                                                                                    1361
Транспортные средства,  Поручительство третьих лиц,                                                                                                                          743
Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,                                                                                        350
Поручительство третьих лиц,  Транспортные средства,                                                                                                                          336
Транспортные средства,  Поручительство третьих лиц,  Поручительство третьих лиц,                                                                                             223
Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,                                                           144
Поручительство третьих лиц,  Поручительство третьих лиц,  Транспортные средства,                                                                                              69
Транспортные средства,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,                                                                 53
Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,                               30
Транспортные средства,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,                                    26
Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Транспортные средства,                                                                 13
Транспортные средства,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,        5
Гарантия третьей стороны,                                                                                                                                                      1
Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Транспортные средства,        1
Ювелирные изделия,  Ювелирные изделия,                                                                                                                                         1
Транспортные средства,  Транспортные средства,                                                                                                                                 1
Name: Наименование типа залога, dtype: int64

In [42]:
df['Наименование типа залога'].replace({
    'Транспортные средства, ': 'машина',
    'Ювелирные изделия, ': 'золото',
    'Поручительство третьих лиц, ': 'поручительство',
    'Поручительство третьих лиц,  Поручительство третьих лиц, ': 'поручительство',
    'Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц, ': 'поручительство',


    'Транспортные средства,  Поручительство третьих лиц': 'машина',
    'Гарантия третьей стороны, ': 'поручительство',
    'Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц, ': 'поручительство',
    'Поручительство третьих лиц,  Транспортные средства, ': 'поручительство',
    'Транспортные средства,  Поручительство третьих лиц,  Поручительство третьих лиц, ': 'машина',
    'Транспортные средства,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц, ': 'машина',
    'Поручительство третьих лиц,  Поручительство третьих лиц,  Транспортные средства, ': 'поручительство',
    'Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц, ': 'поручительство',
    'Транспортные средства,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц, ': 'машина',
    'Транспортные средства,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц, ': 'машина',
    'Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Транспортные средства, ': 'поручительство',    
    'Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Поручительство третьих лиц,  Транспортные средства, ': 'поручительство', 
    'Ювелирные изделия,  Ювелирные изделия, ': 'золото',
    'Транспортные средства,  Транспортные средства, ': 'машина',
    'Транспортные средства,  Поручительство третьих лиц, ': 'машина',
    
    


}, inplace=True)

In [43]:
df['Наименование типа залога'].value_counts()

машина            7434
поручительство    5913
золото            3730
Name: Наименование типа залога, dtype: int64

In [44]:
df["Наименование типа залога"].unique()

array(['машина', 'поручительство', 'золото', nan], dtype=object)

In [45]:
df.isna()

,№,Код,Продукт,Номер контракта,Нач.дата,Кон.дата,Сумма,% ставка,Наименование назначения,Дата классификации,...,client_id,credit_history_count,Кол-во просроченных дней,target,Возраст,Пол,Образование,Место работы,occupation,marital_status
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17080,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17081,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
17082,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
17083,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
17084,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [46]:
education = ['машина', 'поручительство', 'золото']
df['Наименование типа залога'] = np.random.choice(education, size=len(df))

In [47]:
df["Наименование типа залога"].isna()

0        False
1        False
2        False
3        False
4        False
         ...
17080    False
17081    False
17082    False
17083    False
17084    False
Name: Наименование типа залога, Length: 17085, dtype: bool

In [48]:
df.columns

Index(['№', 'Код', 'Продукт', 'Номер контракта', 'Нач.дата', 'Кон.дата',
       'Сумма', '% ставка', 'Наименование назначения', 'Дата классификации',
       'К оплате', 'Просроченные', 'Списанные на 91501', 'Срок не наступил',
       'Итого', 'Срок погаш. не наступил', 'На 12505 [Не просрочен]',
       'На 12505 [Просрочен]', 'Реструктуризированный', 'В суде', 'Итого.1',
       'Пеня', 'Автоматический', 'Ручной',
       'Дата последнего перевода на просрочку',
       'Дата последнего погашения основного долга', 'Примечание в клиенте',
       'Примечание в кредите', 'Кредитный сотрудник', 'Название филиала',
       'Наименование типа залога', 'Сумма залога',
       'Остаточная сумма залога на балансе', 'client_id',
       'credit_history_count', 'Кол-во просроченных дней', 'target', 'Возраст',
       'Пол', 'Образование', 'Место работы', 'occupation', 'marital_status'],
      dtype='object')

In [51]:
df["Продукт"].unique()

array(['008 - Сармоя (Узок муддатли)', '016 - Хазина (Узок муддатли)',
       '018 - Мадор (Узок муддатли)',
       '019 - Хамкор Сармоя (Узоқ муддатли)',
       '017 - Имкон (Узок муддатли)', '006 - Ишонч',
       '007 - Имкон (Киска муддатли)', '012 - Хазина (Кисқа муддатли)',
       '015 - Яхши ният (Қисқа муддатли) ',
       '023 - Хамкор (Узоқ муддатли)', '009 - Сармоя (Киска муддатли)',
       '002 - Хамкор (Киска муддатли)', '020 - Мадор (Киска муддатли)',
       '024 - Яхши ният (Узоқ муддатли)',
       '022 - Хамкор Сармоя (Қисқа муддатли)', '010 - Таълим'],
      dtype=object)

In [52]:
df.rename(columns = {'Нач.дата':'loan_start_date'}, inplace = True)
df.rename(columns = {'Кон.дата':'loan_end_date'}, inplace = True)
df.rename(columns = {'Сумма':'loan_amount'}, inplace = True)
df.rename(columns = {'% ставка':'interest_rate'}, inplace = True)
df.rename(columns = {'Название филиала':'branch'}, inplace = True)
df.rename(columns = {'Наименование типа залога':'collateral_type'}, inplace = True)
df.rename(columns = {'Сумма залога':'collateral_amount'}, inplace = True)
df.rename(columns = {'credit_history_count':'credit_history_count'}, inplace = True)
df.rename(columns = {'Кол-во просроченных дней':'overdue_days'}, inplace = True)
df.rename(columns = {'credit_history_count':'credit_history_count'}, inplace = True)
df.rename(columns = {'target':'target'}, inplace = True)
df.rename(columns = {'Продукт':'product'}, inplace = True)
df.rename(columns = {'Возраст':'age'}, inplace = True)
df.rename(columns = {'Пол':'gender'}, inplace = True)
df.rename(columns = {'Образование':'education'}, inplace = True)
df.rename(columns = {'occupation':'occupation'}, inplace = True)
df.rename(columns = {'marital_status':'marital_status'}, inplace = True)

In [53]:
new_df = df[["loan_start_date", "loan_end_date", "loan_amount", "interest_rate", "branch", "collateral_type", "collateral_amount", "credit_history_count", "overdue_days", "product", "age", "gender", "education", "occupation", "marital_status", "target"]]

In [54]:
new_df

,loan_start_date,loan_end_date,loan_amount,interest_rate,branch,collateral_type,collateral_amount,credit_history_count,overdue_days,product,age,gender,education,occupation,marital_status,target
0,2018-02-05,2020-02-05,17000000,57.6,SUPER BRANCH,машина,24300000.0,1,7.0,008 - Сармоя (Узок муддатли),50,ж,Среднее,уста,разведен,0
1,2018-02-12,2020-02-12,17200000,57.6,SUPER BRANCH,машина,24600000.0,1,29.0,008 - Сармоя (Узок муддатли),43,ж,Высшее,шофер-таксист,не женат,0
2,2018-02-16,2020-02-14,17200000,57.6,SUPER BRANCH,поручительство,24600000.0,1,46.0,008 - Сармоя (Узок муддатли),39,м,Среднее,уста,не женат,0
3,2018-02-20,2020-02-20,17200000,57.6,SUPER BRANCH,машина,28700000.0,1,4.0,008 - Сармоя (Узок муддатли),50,ж,Среднее,тикувчи,разведен,0
4,2018-02-26,2020-02-17,10000000,57.6,SUPER BRANCH,золото,14300000.0,1,42.0,008 - Сармоя (Узок муддатли),54,м,Высшее,уста,не женат,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17080,2022-08-11,2024-08-09,42000000,57.6,CHUST FILIALI,поручительство,60000000.0,1,36.0,008 - Сармоя (Узок муддатли),54,ж,Среднее,шофер-таксист,не женат,0
17081,2022-08-16,2024-08-16,20000000,57.6,YAYPAN FILIALI,поручительство,28600000.0,1,10.0,008 - Сармоя (Узок муддатли),48,ж,Высшее,дехкон,женат,0
17082,2022-08-18,2024-08-16,35000000,57.6,YAYPAN FILIALI,машина,50000000.0,1,59.0,008 - Сармоя (Узок муддатли),22,ж,Высшее,уста,разведен,0
17083,2022-09-16,2024-09-16,30000000,57.6,POP FILIALI,поручительство,42900000.0,2,20.0,008 - Сармоя (Узок муддатли),59,м,Высшее,дехкон,не женат,0
17084,2022-09-21,2024-03-11,23000000,57.6,CHUST FILIALI,машина,32900000.0,1,21.0,008 - Сармоя (Узок муддатли),32,ж,Среднее,тадбиркор,женат,0

In [55]:
new_df.isna()

,loan_start_date,loan_end_date,loan_amount,interest_rate,branch,collateral_type,collateral_amount,credit_history_count,overdue_days,product,age,gender,education,occupation,marital_status,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17080,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17081,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17082,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17083,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17084,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [56]:
columns_to_clean = ["branch", "collateral_type", "product", "gender", "education", "occupation", "marital_status"]

In [57]:
for col in columns_to_clean:
    new_df[col] = new_df[col].str.lower()

/tmp/ipykernel_4050/1323658767.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df[col] = new_df[col].str.lower()

In [58]:
new_df

,loan_start_date,loan_end_date,loan_amount,interest_rate,branch,collateral_type,collateral_amount,credit_history_count,overdue_days,product,age,gender,education,occupation,marital_status,target
0,2018-02-05,2020-02-05,17000000,57.6,super branch,машина,24300000.0,1,7.0,008 - сармоя (узок муддатли),50,ж,среднее,уста,разведен,0
1,2018-02-12,2020-02-12,17200000,57.6,super branch,машина,24600000.0,1,29.0,008 - сармоя (узок муддатли),43,ж,высшее,шофер-таксист,не женат,0
2,2018-02-16,2020-02-14,17200000,57.6,super branch,поручительство,24600000.0,1,46.0,008 - сармоя (узок муддатли),39,м,среднее,уста,не женат,0
3,2018-02-20,2020-02-20,17200000,57.6,super branch,машина,28700000.0,1,4.0,008 - сармоя (узок муддатли),50,ж,среднее,тикувчи,разведен,0
4,2018-02-26,2020-02-17,10000000,57.6,super branch,золото,14300000.0,1,42.0,008 - сармоя (узок муддатли),54,м,высшее,уста,не женат,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17080,2022-08-11,2024-08-09,42000000,57.6,chust filiali,поручительство,60000000.0,1,36.0,008 - сармоя (узок муддатли),54,ж,среднее,шофер-таксист,не женат,0
17081,2022-08-16,2024-08-16,20000000,57.6,yaypan filiali,поручительство,28600000.0,1,10.0,008 - сармоя (узок муддатли),48,ж,высшее,дехкон,женат,0
17082,2022-08-18,2024-08-16,35000000,57.6,yaypan filiali,машина,50000000.0,1,59.0,008 - сармоя (узок муддатли),22,ж,высшее,уста,разведен,0
17083,2022-09-16,2024-09-16,30000000,57.6,pop filiali,поручительство,42900000.0,2,20.0,008 - сармоя (узок муддатли),59,м,высшее,дехкон,не женат,0
17084,2022-09-21,2024-03-11,23000000,57.6,chust filiali,машина,32900000.0,1,21.0,008 - сармоя (узок муддатли),32,ж,среднее,тадбиркор,женат,0

In [61]:
import pickle
pickle.dump(new_df, open('../database/new_data.pkl','wb'))